#
# IMPORTANT NOTE
#
# This chart inherits from our common library chart. You can check the default values/options here:
# https://github.com/bjw-s/helm-charts/blob/main/charts/library/common/values.yaml
#

controllers:
  daily-restart:
    type: cronjob
    primary: false
    cronjob:
      # restart schedule
      schedule: "0 4 * * *"
    serviceAccount:
      identifier: daily-restart
    containers:
      main:
        command:
          - ash
          - '-c'
          - >
            nses="$(kubectl get deployment,statefulset,daemonset -A -l juniorjpdj.pl/daily-restart=enabled -o=json | jq '[.items[].metadata.namespace] | unique | .[]' -r)" ;
            for ns in $nses ; do
              echo "processing '$ns' namespace" ;
              kubectl rollout restart deployment,statefulset,daemonset -l juniorjpdj.pl/daily-restart=enabled -n $ns --field-manager='daily-restart' ;
            done
        securityContext:
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          runAsUser: 1000
          runAsGroup: 1000
        image:
          repository: ghcr.io/juniorjpdj/containers/openssl-kubectl
          tag: 1.34.2-r6@sha256:cd7d9dd5c1ff47989d338d5da198e77e13ec5d13979f1b46d510f015e830383d
          pullPolicy: Always

serviceAccount:
  daily-restart: {}
