#
# IMPORTANT NOTE
#
# This chart inherits from our common library chart. You can check the default values/options here:
# https://github.com/bjw-s/helm-charts/blob/main/charts/library/common/values.yaml
#

domains:
  example.com:
    enabled: false
    refreshSchedule: "0 2 * * *"
    sourceDomain: src.example.com
    sourcePort: 443
    privateKey: |-
      -----BEGIN RSA PRIVATE KEY-----
      BLAHBLAHBLAH
      -----END RSA PRIVATE KEY-----


containerConfig:
  securityContext:
    readOnlyRootFilesystem: false
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000
  image:
    repository: ghcr.io/juniorjpdj/containers/openssl-kubectl
    tag: 1.34.2-r1@sha256:ca62a12f92dbbf3df9582f8a86d490ebe56c8a19c4027f59ca4565a9b1820957
    pullPolicy: Always

serviceAccount:
  cert-puller: {}