#
# IMPORTANT NOTE
#
# This chart inherits from our common library chart. You can check the default values/options here:
# https://github.com/bjw-s/helm-charts/blob/main/charts/library/common/values.yaml
#

image:
  repository: ghcr.io/theconnman/docker-hub-rss
  pullPolicy: Always
  tag: "0.6.2@sha256:38eba84b2be8ad3497604def130f0e5d7d5925534727168aad67790e2ec9da25"

controllers:
  main:
    strategy: RollingUpdate
    containers:
      main:
        # image: filled from main `image` section
        probes:
          liveness:
            enabled: true
            type: HTTP
          readiness:
            enabled: true
            type: HTTP
          startup:
            enabled: true
            type: HTTP

service:
  main:
    controller: main
    ports:
      http:
        port: 3000

ingress:
  main:
    enabled: false
    annotations: {}
    # cert-manager.io/cluster-issuer: letsencrypt
    # nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    hosts: {}
    # - host: dockerhubrss.example.com
    #    paths:
    #     - path: /
    #       service:
    #         identifier: main
    #         port: http
    tls: {}
    # - secretName: docker-hub-rss-cert
    #   hosts:
    #     - dockerhubrss.example.com
