#
# IMPORTANT NOTE
#
# This chart inherits from our common library chart. You can check the default values/options here:
# https://github.com/bjw-s/helm-charts/blob/main/charts/library/common/values.yaml
#

controllers:
  main:
    strategy: RollingUpdate
    containers:
      main:
        image:
          repository: docker.io/searxng/searxng
          pullPolicy: Always
          tag: 2025.3.2-8984d7ae0@sha256:4de61b73383c77df4a2323859f1051e498fc37c585f1abe3e0c4e2bfbc6824b8
        securityContext:
          capabilities:
            drop:
              - ALL
            add:
              - CHOWN
              - SETGID
              - SETUID

service:
  main:
    type: ClusterIP
    controller: main
    ports:
      http:
        port: 8080
        protocol: HTTP

ingress:
  main:
    enabled: false
    annotations: {}
    hosts: []
    # - host: searxng.example.com
    #  paths:
    #     - path: /
    #       service:
    #         identifier: main
    #         port: http
    tls: []
    # - secretName: searxng-cert
    #   hosts:
    #     - searxng.example.com

persistence:
  etc:
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    retain: true
    size: 1Gi
    globalMounts:
      - path: /etc/searxng
        readOnly: false
    suffix: etc

valkey:
  enabled: true
  architecture: standalone
  # auth:
  #  password: # Set this to avoid remaking valkey on each release
  master:
    persistence:
      enabled: false
