#
# IMPORTANT NOTE
#
# This chart inherits from our common library chart. You can check the default values/options here:
# https://github.com/bjw-s/helm-charts/blob/main/charts/library/common/values.yaml
#

controllers:
  main:
    strategy: RollingUpdate
    containers:
      main:
        image:
          repository: docker.io/searxng/searxng
          pullPolicy: Always
          tag: 2026.2.27-272833136@sha256:ce8b557f7ddd6e4b5f0302b04862a2e2594fc928d4cf3662e5268d15dd54ac14
        securityContext:
          capabilities:
            drop:
              - ALL
            add:
              - CHOWN
              - SETGID
              - SETUID

service:
  main:
    type: ClusterIP
    controller: main
    ports:
      http:
        port: 8080
        protocol: HTTP

ingress:
  main:
    enabled: false
    annotations: {}
    hosts: []
    # - host: searxng.example.com
    #  paths:
    #     - path: /
    #       service:
    #         identifier: main
    #         port: http
    tls: []
    # - secretName: searxng-cert
    #   hosts:
    #     - searxng.example.com

persistence:
  etc:
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    retain: true
    size: 1Gi
    globalMounts:
      - path: /etc/searxng
        readOnly: false
    suffix: etc
  cache:
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    retain: true
    size: 10Gi
    globalMounts:
      - path: /var/cache/searxng
        readOnly: false
    suffix: cache

valkey:
  enabled: true
  architecture: standalone
  # auth:
  #  password: # Set this to avoid remaking valkey on each release
  master:
    persistence:
      enabled: false
